<div class="d-flex justify-content-center" *ngIf="token && email">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="text-center mb-4">
          <h3 class="mb-3 font-weight-normal">
            Change your password
          </h3>
        </div>
        <div class="form-floating mb-3">
            <input type="text" placeholder="newPassword" formControlName="newPassword" id="newPassword" class="form-control" [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors">
            <label for="newPassword">Password</label>
            <span class="text-danger" *ngIf="submitted && submitted && resetPasswordForm.get('newPassword')?.hasError('required')">Password is required</span>
          </div>

        <!-- <div class="form-floatin" *ngIf="errorMessages.length">
          <app-validation [errorMessages]="errorMessages"></app-validation>
        </div> -->

        <div class="row">
            <div class="col-6">
                <div class="d-grid">
                     <button class="btn btn-bloc btn-success" type="submit">Change Password</button>
                </div>
                <div  class="d-grid">
                     <button class="btn btn-bloc btn-danger" type="submit" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
      </form>
        </main>
    </div>
</div>